/************************************************ HEADER *********************************************/

#menu-icon {
  width: 1.5rem;
  margin-right: 5px;
  margin-bottom: 5px;
}


/************************************************ HERO SECTION *********************************************/