body {
    font-family: 'Oswald', sans-serif;
}

/************************************************ HEADER *********************************************/
header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

#header-logo {
    height: 24px;
}

header a {
    color: white;
    margin-left: 24px;
}

a:hover {
    color: white;
}

a:visited {
    color: white;
}

/************************************************ HERO SECTION *********************************************/

#hero-section {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #4133329c;
    height: 100vh;
}

#hero-logo {
    width: 256px;
}

#hero-section>div>div>div {
    z-index: 1;
}

#hero-section>div>div>div>h1 {
    font-weight: bold;
}

#arrow-down {
    position: absolute;
    bottom: 64px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: block;
    width: 64px;
    color: white;
    z-index: 3;
}

/************************************************ INTRO SECTION *********************************************/

#intro-section {
    background: #eae7de;
}

#intro-section > div > div.row.justify-content-center > div > h1 {
    font-weight: bold;
}

#intro-section > div > div.row.py-5 > div:nth-child(1) > p {
    font-weight: bold;
}

#intro-section > div > div.row.py-5 > div:nth-child(2) > p {
    font-weight: bold;
}

#intro-section > div > div.row.py-5 > div:nth-child(3) > p {
    font-weight: bold;
}

/************************************************ ABOUT SECTION *********************************************/

#about-bg-1 {
    background-image: url(../img/great-place.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 480px;
}

#about-bg-2 {
    background: url(../img/fresh-beans.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 640px;
}

/************************************************ MENU SECTION *********************************************/

#menu-section {
    background: #eae7de;
}