/************************************************HEADER*********************************************/
header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

#header-logo {
    height: 24px;
}

header a {
    color: white;
}

a:hover {
    color: white;
}

a:visited {
    color: white;
}



/************************************************HERO SECTION*********************************************/

#hero-section {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #4133329c;
    height: 100vh;
}

#hero-logo {
    width: 256px;
}

#hero-section>div>div>div {
    z-index: 1;
}

#hero-section>div>div>div>h1 {
    font-weight: bold;
}

#arrow-down {
    position: absolute;
    bottom: 64px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: block;
    width: 64px;
    color: white;
    z-index: 3;
}